<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><Kaitlin's CICD Pipeline></h1>
    <ul>
      <li>Circle Ci</li>
      <li>AWS</li>
      <li>GitHub</li>
      <li>add more...</li>
    </ul>
  </body>
</html>